{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h4">맞춤 동영상</h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
            <div class="col-md-3">
                <img class="card-img-top" src="{% static 'img/blank.svg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">경쟁자가 없다.. 현대 그랜져시승기</h6>
                    <div class="card-text">오토뷰 조회수</div> <div class="card-text">1.6천회 * 7시간전</div>
                </div>
            </div>
        </div>


    </main>
{% endblock %}